.footer {
    grid-area: footer;
    display: map-get($propiedades,display);
    flex-direction: column;
    align-items: map-get($propiedades,alineacion);
    margin-top: 40px;
    padding-bottom: 65px;

}



#facebook,#instagram,#whatsapp {
    font-size: 30px;
    margin-right: 20px;
    border-radius: 15px;
    color: map-get($propiedades,color);

}


.ciudad {
    color: map-get($propiedades,color);
    
    padding: {
        top: 20px;
        bottom: 80px;
    }
}

.titulo-ciudad {
    font-size: 25px;
}

.footer-contacto {
    grid-area: footer;
    display: map-get($propiedades,display);
    flex-direction: column;
    align-items: map-get($propiedades,alineacion);
    margin-top: 40px;
    padding-bottom: 65px;

}